.color-texts {
    color: rgb(0, 28, 85);
    text-align: center;
    }
#centraliza{
    color: rgb(0, 28, 85);
    text-align: center;
}
#imagem{
    width: 300px;
    height: 400px;
    margin: auto;
    display: block;
}
body{
    background-color: rgb(166, 225, 250);
}  